<footer>

  <div class="row">
    <div class="col-3">


      <a  href="http://www.facebook.com"><img class="icon" src="../../assets/facebook.png" /></a>
    </div>
    <div class="col-3">
      <a  href="http://www.facebook.com"><img class="icon" src="../../assets/twitter.png" /></a>
    </div>
    <div class="col-3">
      <a  href="http://www.facebook.com"><img class="icon" src="../../assets/patreon.png" /></a>
    </div>
    <div class="col-3">
      <a  href="http://www.facebook.com"><img class="icon" src="../../assets/instagram-skizziert.png" /></a>
    </div>
  </div>


</footer>
