
.list-group a{
  height: 2.1rem;


}
.highlight{
   background-color: #103d6a;
   color: white;

  }
.highlight:hover{
  color: white;
}
.sidebar{

  cursor: pointer;
}
.sidebar_div{

  display: none;
}

@media only screen and (min-width: 1178px){

  .sidebar_div{

    display: block;
    position: sticky;
    top: 80px;
    width: 300px;
  }

}
